@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";


.wrapper {
  background-image: url("../skateboard-images/bg.jpg");
}
.post {
  background-color: blue;
  padding: 5px;
  height: 425px;
}

.button{
background-color: #B12B32;
}
